.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 2;
  width: 100%;
}

.navigation h1 {
  font-size: 1.5em;
  flex: 1;
  margin: 0;
}

.navigation ul {
  padding: 20px 0 0 0;
  position: relative;
  z-index: 0;
  flex: 4;
  display: flex;
  justify-content: space-around;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  color: #444;
  text-decoration: none;
}

.selected {
  border-top: 5px solid #4d1601;
  border-bottom: 5px solid #4d1601;
  transition: border 0.25s ease;
}

/* button {
  display: none;
  border: #666 solid 1px;
}

button span {
  color: #000;
  display: inline-block;
  position: relative;
} */

/* @media screen and (min-width: 720px) {
    .navigation ul {
        display: flex;
        justify-content: space-around;
    }
} */

@media (min-width: 768px) {
  .navigation {
    position: relative;
  }

  .navigation h1 {
    font-size: 2.5em;
  }

  /* .navigation ul {
    padding: 0;
  } */

  /* h1 {
        padding: 10px 0 0 10px;
    } */

  /* .navigation ul {
        margin-top: 50px;
        padding: 0;
    }

    .navigation li {
        display: block;
        padding-bottom: 20px;
    }

    .navigation ul.hide {
        height: 0;
        opacity: 0;
        transition: height .5s, opacity .25s ease-in;
        touch-action: none;
        pointer-events: none;
    }

    .navigation ul.show {
        height: 150px;
        opacity: 1;
        padding-top: 0;
        transition: height .5s, opacity .25s ease-in;
    }

    button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(90deg) scale(1.5);
        border: none;
        background: transparent;
    } */

  /**
     * Mobile button transform logic
     **/

  /* .navigation ul.hide + button>span:first-child {
        transform: rotate(0deg);
        left: 0;
        transition: all .25s ease-in;
    }

    .navigation ul.hide + button>span:nth-child(2) {
        opacity: 1;
        top: 0.5px;
        transition: all .25s ease-in;
    }

    .navigation ul.hide + button>span:last-child {
        transform: rotate(0deg);
        right: 0;
        bottom: 0.5px;
        transition: all .25s ease-in;
    }

    .navigation ul.show + button>span:first-child {
        transform: rotate(45deg);
        color: #444;
        position: relative;
        left: 5px;
        transition: all .25s ease-in;
    }

    .navigation ul.show + button>span:nth-child(2) {
        opacity: 0;
        transition: all .25s ease-in;
    }

    .navigation ul.show + button>span:last-child {
        transform: rotate(-45deg);
        color: #444;
        position: relative;
        right: 6px;
        transition: all .25s ease-in;
    } */
}
