.fave-selection-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

form {
    padding: 20px;
}

label, input, select {
    display: block;
}

label {
    text-align: left;
}

input[type=text], select {
    margin-bottom: 20px;
    max-height: 50px;
}

select {
    width: 50%;
}

@media screen and (max-width: 720px) {
    .fave-selection-container {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .create-fave.form, .choose-fave.form {
        margin-bottom: 50px;
    }
}
